Представим, что международное круизное агентство Carnival Cruise Line решило себя разрекламировать с помощью баннеров и обратилось для этого к вам. Чтобы протестировать, велика ли от таких баннеров польза, их будет размещено всего 20 штук по всему миру. Вам надо выбрать 20 таких локаций для размещения, чтобы польза была большой и агентство продолжило с вами сотрудничать.

Агентство крупное, и у него есть несколько офисов по всему миру. Вблизи этих офисов оно и хочет разместить баннеры — легче договариваться и проверять результат. Также эти места должны быть популярны среди туристов.

Для поиска оптимальных мест воспользуемся базой данных крупнейшей социальной сети, основанной на локациях — Foursquare.

Часть открытых данных есть, например, на сайте archive.org:

https://archive.org/details/201309_foursquare_dataset_umn

Скачаем любым удобным образом архив fsq.zip с этой страницы.

Нас будет интересовать файл checkins.dat.

In [1]:
import pandas as pd 
import numpy as np
from sklearn.cluster import MeanShift, estimate_bandwidth

import matplotlib.pyplot as plt
from itertools import cycle

In [2]:
data = pd.read_csv('checkins.csv', low_memory=False)

data['latitude'] = data['latitude'].str.strip()
data['longitude'] = data['longitude'].str.strip()

data['latitude'].replace('', np.nan, inplace=True)
data['longitude'].replace('', np.nan, inplace=True)

data.head()

       id    user_id  venue_id    latitude    longitude            created_at
0  984301  2041916.0    5222.0         NaN          NaN   2012-04-21 17:39:01
1  984222    15824.0    5222.0  38.8951118  -77.0363658   2012-04-21 17:43:47
2  984315  1764391.0    5222.0         NaN          NaN   2012-04-21 17:37:18
3  984234    44652.0    5222.0   33.800745    -84.41052   2012-04-21 17:43:43
4  984249  2146840.0    5222.0         NaN          NaN   2012-04-21 17:42:58

In [3]:
data.dropna(subset=['latitude', 'longitude'], inplace=True)
data['id'] = data['id'].astype('int32')
data['latitude'] = data['latitude'].astype('float64')
data['longitude'] = data['longitude'].astype('float64')
data['created_at'] = pd.to_datetime(data['created_at'])

print(data.shape)

data.dtypes

(396634, 6)

id                     int32
user_id              float64
venue_id             float64
latitude             float64
longitude            float64
created_at    datetime64[ns]
dtype: object

Теперь необходимо кластеризовать данные координаты, чтобы выявить центры скоплений туристов. Поскольку баннеры имеют сравнительно небольшую площадь действия, нам нужен алгоритм, позволяющий ограничить размер кластера и не зависящий от количества кластеров.

Эта задача — хороший повод познакомиться с алгоритмом MeanShift, который мы обошли стороной в основной части лекций. Его описание при желании можно посмотреть в sklearn user guide, а чуть позже появится дополнительное видео с обзором этого и некоторых других алгоритмов кластеризации. Используйте MeanShift, указав bandwidth=0.1, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

Примечание:на 396634 строках кластеризация будет работать долго. Быть очень терпеливым не возбраняется — результат от этого только улучшится. Но для того, чтобы сдать задание, понадобится сабсет из первых 100 тысяч строк. Это компромисс между качеством и затраченным временем. Обучение алгоритма на всём датасете занимает около часа, а на 100 тыс. строк — примерно 2 минуты, однако этого достаточно для получения корректных результатов.

In [4]:
X = data[['latitude', 'longitude']].iloc[:100000]
X.shape

(100000, 2)

In [5]:
%%time

ms = MeanShift(bandwidth=0.1)
ms.fit(X.to_numpy())

labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

print("Number of estimated clusters : %d" % n_clusters_)

Number of estimated clusters : 3231
CPU times: user 3min 33s, sys: 1.35 s, total: 3min 35s
Wall time: 3min 35s

In [6]:
clusters = pd.DataFrame(ms.cluster_centers_)
clusters.columns = ['cluster_latitude', 'cluster_longitude']
clusters.head()

   cluster_latitude  cluster_longitude
0         40.717716         -73.991835
1         33.449438        -112.002140
2         33.446380        -111.901888
3         41.878244         -87.629843
4         37.688682        -122.409330

In [7]:
X['which_cluster'] = ms.predict(X)
X.head()

     latitude   longitude  which_cluster
1   38.895112  -77.036366              5
3   33.800745  -84.410520              7
7   45.523452 -122.676207             30
9   40.764462 -111.904565             65
10  33.448377 -112.074037              1

In [8]:
clusters['count'] = X.pivot_table(index = 'which_cluster', aggfunc = 'count', values = 'latitude')
clusters.head()

   cluster_latitude  cluster_longitude  count
0         40.717716         -73.991835  12506
1         33.449438        -112.002140   4692
2         33.446380        -111.901888   3994
3         41.878244         -87.629843   3363
4         37.688682        -122.409330   3526

Некоторые из получившихся кластеров содержат слишком мало точек — такие кластеры не интересны рекламодателям. Поэтому надо определить, какие из кластеров содержат, скажем, больше 15 элементов. Центры этих кластеров и являются оптимальными для размещения.

При желании увидеть получившиеся результаты на карте можно передать центры получившихся кластеров в один из инструментов визуализации. Например, сайт mapcustomizer.com имеет функцию Bulk Entry, куда можно вставить центры полученных кластеров.

In [9]:
clusters = clusters[clusters['count'] > 15]
print(clusters.shape)
clusters.head()

(592, 3)

   cluster_latitude  cluster_longitude  count
0         40.717716         -73.991835  12506
1         33.449438        -112.002140   4692
2         33.446380        -111.901888   3994
3         41.878244         -87.629843   3363
4         37.688682        -122.409330   3526

In [10]:
for index, item in clusters.iterrows():
    print(str(item['cluster_latitude']) + ',' + str(item['cluster_longitude']))

40.71771639727507,-73.9918354198967
33.44943805020126,-112.00213969017547
33.44638027037988,-111.90188756212359
41.87824377967115,-87.62984336226329
37.68868157406161,-122.40933037359147
38.8861652155993,-77.04878333074303
33.357344562325096,-111.82265410760392
33.76663623218336,-84.39328918481657
42.363218639848895,-71.07368760857386
47.60624471741767,-122.33204382627093
36.117229142990276,-115.17107342280688
34.06039755458241,-118.24870902659876
44.97794782033687,-93.2673008852605
30.26718361698159,-97.74311928133027
40.76687624004169,-73.83335349045205
39.735830152625304,-104.98658042770822
39.95168037300773,-75.16273592391683
34.03548695312116,-118.43899771946148
32.98089338217789,-117.07811797821928
32.80302053531547,-96.76989743494408
37.34787114392445,-121.94728722354373
28.543501546632914,-81.37642862287088
32.71134443394278,-117.15363874791043
32.2217131518074,-110.92653515261165
34.12740221911527,-118.35188372510652
29.762697754725156,-95.3823137047244
43.040532816770465,-87.91433256599365
33.81730643390889,-117.891249170958
37.390292432025845,-122.0872864361108
25.7858124199675,-80.2179380368254
45.523483214646724,-122.67628042137935
33.56973460352672,-112.31401583827702
33.67430265976576,-117.85878926777275
-6.2127666563850035,106.84465981237784
27.94944607964624,-82.4650735999998
34.160210384964344,-118.22361657326915
39.10009487559828,-94.5824387016742
35.22726338097585,-80.84318161707374
43.65295022190731,-79.38260886984479
37.793142220000135,-122.26638327200024
39.996832405120884,-82.99995493315389
39.768450280601215,-86.15824943415348
33.87298601157018,-118.36209114655645
47.645224584013214,-122.16867481595776
39.28625030782621,-76.61466929101515
34.04892809999974,-111.09373110000084
40.439174644478236,-79.9956503328221
34.13146014917951,-118.11801180610205
40.766668319314654,-74.19249554890972
37.543724937380205,-122.30230856198074
33.65089599288026,-117.75207397281613
33.8098779552631,-118.14892380690813
40.87014826075197,-73.85938863991156
41.48748453037534,-81.70746926211564
29.42491663242302,-98.49362410785047
26.120862658633104,-80.1589066802157
35.77131422276117,-78.63671409664157
38.645525337999786,-90.22935878999974
51.502991260887086,-0.12553728870967767
44.962034067796594,-93.11910779660994
38.58153308777307,-121.49565145676871
40.70807102398186,-73.58440031945706
38.98522152361123,-77.40597233611103
38.86832041904759,-77.24339935619022
34.091297534634215,-117.98038945268247
40.759599954773876,-111.89607777939733
39.1285678085426,-84.50309269949756
37.542944669035435,-77.4685887934008
36.164203997959305,-86.78143980816328
49.24017197830703,-123.11186022275179
35.20135159999994,-111.63924899999988
40.014985599999875,-105.27054560000026
39.005656549197866,-77.1265309818182
32.877584059358334,-97.01473146898421
40.984718398888894,-73.77423909722224
34.06188557374307,-117.67178457765392
41.25352750000007,-95.9993827781608
40.48887518959529,-74.42261149017344
29.966228185964944,-90.07729902046758
42.065200713333276,-87.80762188000003
41.854356500605974,-87.85689994848495
37.69303367865858,-122.09784477804868
44.88479711963189,-93.32703229141111
40.725809639354814,-74.29919603935461
30.33264489161299,-81.65430532774165
43.07283789473695,-89.39990342236815
40.62422883287678,-74.22584933904119
33.8883253427586,-118.04892817172427
42.89993612569448,-78.87341406805545
38.985897336619665,-94.67220204366218
34.19818207092195,-118.54927680780146
33.01182339432621,-96.70158661914896
26.010098249285683,-80.19999058571432
40.60991858814826,-74.11949520888906
34.056012232592614,-84.31689027259254
43.16220163893142,-77.61107258473267
33.968046954198456,-84.5680670755724
43.0488843868217,-76.14517626356594
42.331551719531305,-83.04453524062487
36.08379277054309,-86.65055291576269
34.07507882560006,-117.81647188640012
42.95810022338701,-85.66805423709685
28.640402699999978,-81.3438759162601
-0.30122619999999967,36.52296410000003
35.14953430000005,-90.04898010000016
-23.549518346153803,-46.638218881196636
42.48118989224137,-83.16129892241365
47.4525996504349,-122.2593132208696
38.25346141491227,-85.75942131403494
37.5911196289474,-122.0207348359649
19.430324425438563,-99.14107183421046
39.0943562258928,-77.17691474999994
37.93503947767865,-122.52404823482166
42.069406181818216,-88.00480022727265
39.923851567272756,-74.9900514081818
35.78910416727278,-78.80416963999997
41.78755155046738,-88.13076373831785
42.27103333113213,-83.72662352924547
41.05086818301895,-73.54851961415088
33.98393587403844,-118.00740497307689
40.06552463300965,-74.39430641553405
36.033668999999946,-115.00236399999996
36.77826099999996,-119.41793239999983
32.72607049600001,-97.32101128200003
28.39950740700002,-81.53741104899999
42.28367924343434,-85.58616455252536
44.87394484489789,-93.48111789693866
39.10196142653063,-76.64161297040829
33.180450702040865,-117.36769176734687
45.506305283505114,-73.55965378247407
42.51691315154646,-83.31173525360832
40.05547609896905,-75.33351810000008
27.779155250515483,-82.64753711855678
39.97651584270831,-86.05148145833341
35.46854261789481,-97.51679603999979
41.597101410638324,-93.72645914787229
37.915907800000014,-122.06076017311827
33.2362374706522,-111.62403149782597
32.78430573736261,-79.9205039857143
43.00218064888885,-88.0143771766668
40.81356674888893,-74.43149605333346
42.314925124719096,-83.41802047865167
39.618795439080515,-104.9938543114944
34.39317987441864,-118.5424772569766
26.35257116627905,-80.085278717442
38.95160293647056,-92.33439649294115
33.99977334235298,-84.15205565058821
32.88162144761907,-97.18290859642853
32.7835604940476,-97.12318197499994
42.00904088554218,-88.09617232771085
30.441642560241,-84.2858799457833
35.99403290000005,-78.89861899999988
40.724220581012695,-73.40003738481009
39.854933112658166,-105.0383041949367
38.5273511227848,-90.38105192025311
35.91300619493676,-79.05707519620246
-6.913102101265831,107.60774275949373
39.529835911538406,-119.81145215769251
39.0824626948718,-77.52544363076923
26.20058464102565,-80.25071612564099
1.3508366025641,103.82022041282038
41.135089724675325,-73.34649909220784
33.924315210389636,-84.27900946753229
45.048677490789466,-93.40395351315794
39.85636094473685,-75.11196706578933
35.08449090000005,-106.6511367000001
32.7937055631579,-116.98787850263149
25.705349721052592,-80.28342873815798
40.291521692,-74.68239279599993
40.28806506533331,-74.0249913093333
43.58706659729737,-116.1958639837836
40.5858157527027,-105.08514374054062
21.305570864864876,-157.85681728378387
40.53299666438359,-74.29595137945206
31.75871980000006,-106.48693139999983
37.684648659154874,-121.90359639577451
33.13691896901411,-96.84826837746466
42.73284661857144,-84.53367694428556
42.6269734214285,-83.1985474842857
42.32737153913048,-71.36285074782604
38.833881600000026,-104.8213634000001
33.01823688260866,-117.28299397826092
40.80745445882348,-96.68141625000004
40.14561193970583,-75.28321337205887
37.09024,-95.71289100000007
41.29770560597012,-72.95414562985084
36.81158212238808,-76.2845886343283
33.788832247761185,-84.26754498955219
48.8577655469697,2.3457983651515137
41.60032189848489,-93.60765108484861
33.05810629999998,-112.0476423
40.148409742187475,-74.04873530312497
40.01223260156246,-74.93187819375001
39.72943189999996,-104.8319195000001
39.21151927656246,-76.85037377499998
42.45466108095237,-83.42359858253961
41.0942622015873,-81.50668096507945
36.85292630000002,-75.97798500000007
33.95567922857139,-83.3815783428572
41.13075639677421,-73.99961724354837
39.34761036129037,-76.77220048709684
33.16220987741931,-96.64954858064513
44.886974614754116,-92.97031761803271
41.822486137704914,-71.40810602295092
35.96349356393446,-83.91712750983599
33.13069531639346,-117.12432252622948
47.34608157000004,-122.26901950000004
41.681168358333366,-86.23894422333348
40.41024026271187,-74.24711956610169
40.35423095084746,-74.11567474576275
13.73101117118644,100.51336204745765
-6.314698115254235,106.81315175593215
44.78208702413788,-93.18367249655174
35.68000562241379,139.70605629137927
44.051762105263144,-123.08334703684199
41.79500354912276,-72.69092316140355
34.85256733333336,-82.3920335087719
43.66161485357138,-70.25431398214293
41.45170499285714,-81.84819700714293
39.97535196071429,-105.09324142678572
36.03311639999997,-86.78277720000004
34.4219613642857,-119.69346761428565
40.563624614545446,-74.52603426181825
37.56653499999998,126.97796920000012
33.45162379454543,-117.64702445272735
42.53156651666665,-82.96434142592592
34.06812021296302,-117.22684049074068
32.95011099999999,-96.88391698333338
44.48055118679242,-73.19678361320747
41.834299833962255,-72.56461691698112
41.1699096075472,-73.21811186792449
40.94798430377356,-74.27348516603776
39.75398973396226,-84.18965707735843
34.16418263962264,-118.8264503943397
34.00030151132081,-81.03703146226411
40.59422284038461,-111.87898254807683
37.69223609999996,-97.3375448
32.79257481923081,-117.22474285769233
45.099324566666695,-93.27443494705874
42.753148239215676,-71.45954490980388
41.8269022509804,-88.31323856078434
30.450746199999983,-91.154551
27.95474522941178,-82.79091589019612
47.78685906999999,-122.191604392
43.54997490000003,-96.70032699999994
42.21333552000001,-87.97050709
39.16532499999998,-86.5263857
33.95512936800003,-117.39706508400009
47.98789650204081,-122.19901846938781
42.5226011612245,-70.90788364489795
40.11307317959184,-74.91828257142858
27.916103902040803,-82.24841784897956
-7.26771537142857,112.74167326530616
42.24284855208335,-70.96381451250004
38.822386197916664,-77.42015213958332
36.07254132916669,-79.7944798333333
33.65028436041669,-84.43758000625004
26.708357729166693,-80.0519220333334
40.86717449574469,-73.38055516808511
38.72035143191489,-121.244884155319
36.15398159999997,-95.99277500000002
13.786798338297864,100.61551539148931
-22.90353930000001,-43.209586899999984
41.720706823913,-87.71461837391298
38.742388378260884,-77.21913204782606
33.485812769565236,-86.79924081304351
32.06268793695649,-81.10157020869556
28.52905037173912,-81.55647568695655
28.291955700000013,-81.40757100000008
27.664827399999997,-81.51575349999995
44.2601702822222,-88.41388403777768
42.933130882222216,-78.75293654000002
41.522727768324685,-90.5410787240668
41.34767893111116,-73.4514061733334
39.36294387555554,-74.42592673555563
38.881395800000014,-94.81912849999992
30.412753639999977,-87.20984056666673
29.651634399999992,-82.32482620000008
55.748349518181776,37.62385041818183
40.2194914022727,-74.79358449772737
47.29836829069772,-122.36173786046511
42.195567206976754,-71.1867695767442
41.24369069302325,-73.06478146744183
36.74772720000003,-119.7723661
33.883084039534886,-117.56395783255817
45.427717411904716,-122.78965456904754
42.43462138095236,-71.45071421428572
40.11384109999998,-88.23670261428576
38.97166889999996,-95.23525010000002
38.61018540238096,-90.55174977380953
34.07750167380951,-84.04649003333337
33.97257482142858,-118.16837066666663
31.968598800000024,-99.90181309999991
26.48884247142857,-80.0700818714285
3.134275921428573,101.67555986904756
42.61425142439022,-71.12383345609753
41.07927300000004,-85.13935129999994
33.60497865199462,-86.63696634109183
30.49481402682929,-97.6674049365853
42.67720624749999,-73.75123032499997
40.496202660000016,-88.99246485999991
40.16724130249999,-75.1301481225
38.05292796249997,-122.27656710499998
36.973905175000034,-122.02007963749995
36.35958268500001,-94.17947600499994
33.362778000000006,-112.16861100000003
52.5234051,13.411399899999996
42.25493944871796,-71.4497311589744
41.62184241025642,-87.7797234
40.525531594871794,-74.64741316923079
39.73594297948715,-75.55050863846157
39.417784620512805,-76.59778866153844
35.9250637,-86.86888989999991
51.04500000000002,-114.05722220000004
45.40109128947367,-75.7051333684211
42.56062689736842,-71.22277635263161
41.218337994736835,-73.93479548421055
40.27352509999998,-76.89054586578942
38.981804289473665,-76.49960739736841
28.038268273684224,-81.94780579473685
26.138843786842077,-80.33434683684207
47.80529201081078,-122.34446337297291
42.259057072972986,-71.790836545946
40.100428383783786,-83.11003126756758
39.09561068918917,-76.88814440540534
34.75143575945949,-92.28484992432435
44.89943693333333,-93.62907909444446
42.98951553611113,-71.46588435277779
41.706869299999994,-73.9256479722222
40.76679362777778,-73.06231106666665
39.71222905000001,-86.37676057222218
29.986731291666672,-90.20393365555552
28.065487166666667,-80.59930491111109
-0.789275,113.92132699999999
47.531789725714276,-122.02841032857138
42.29856200571429,-88.27068894000006
40.96048899714285,-72.2086191457143
40.13047046285715,-82.94110988571427
43.01644742941177,-88.23213489999998
42.65263913823529,-83.00841650882356
42.439221967647036,-82.91527936470588
42.016666700000016,-94.3766667
41.5062953764706,-73.08288424999998
39.91861719117647,-75.33817145294115
39.413043311764675,-77.41126803823524
39.33104944411765,-74.57533548235294
38.30472220000001,-122.29888889999995
34.73036879999998,-86.58610369999998
34.10148730000001,-84.51937540000003
33.50959430000001,-117.1657184941176
41.274174090909085,-73.84626447272727
38.440955818181806,-122.71673953333341
35.54774646060606,-80.8283893575758
34.22572549999998,-77.94471019999996
33.37031969999999,-112.58377659999998
29.21111773030304,-81.0235402151515
27.80058280000002,-97.396381
25.2644444,55.31166669999998
-8.66436294545455,115.21134018787885
43.18353895937502,-87.95640763437503
42.13534293125,-71.43706586250006
42.101790224999995,-75.92552983749998
40.61566269062504,-75.36652545000001
39.565526618632745,-104.79615645278776
35.045629699999985,-85.30968010000001
34.09865736562501,-117.35580912187508
32.46191387187502,-84.988933390625
20.676282293749995,-103.34731531250007
3.5848877374999977,98.67732914999995
52.37296399032261,4.892317222580647
48.75955290000001,-122.48822490000009
46.78029465483874,-92.10083304516134
44.66468697419354,-93.22828416451615
41.47416572258066,-81.52397445806453
40.880313932258076,-73.07814735806453
40.79350004516128,-77.85759507096775
40.30413109032259,-74.31252538064514
40.16312081290325,-105.10637213225804
39.968261003225784,-75.6132144
38.03171360000001,-84.49513590000001
34.2659,-119.25836600000001
26.64406870967742,-81.87331197419356
14.594446125806455,121.01582649354837
42.28177951333332,-71.58480652
42.253048073333346,-83.17962892999999
39.96259840000001,-76.72774499999998
39.94187740999999,-74.1481392333333
39.055823499999995,-95.68901850000005
38.62457133999998,-121.29814465333334
33.93230805333332,-83.99220399333335
33.56898140333334,-84.3290716233333
39.02460513103447,-84.58562820689657
38.99854259655172,-76.81361866896552
38.029305900000026,-78.47667810000002
36.25613004482757,-94.12431232413792
34.0050079,-118.81008930000004
33.833371599999985,-111.9507042
30.64426478965516,-96.34891375862061
28.32970167241379,-80.67288769655171
27.336434700000012,-82.53065269999998
21.37780984137931,-158.0030451344828
46.729552999999974,-94.68589979999994
45.63872809999999,-122.66148609999995
42.89325042142857,-87.86338142500006
42.44396140000001,-76.50188069999997
42.1923157892857,-88.29305954999998
42.05843600000002,-70.17863740000003
41.605641660714284,-88.20381831785708
40.51168288214287,-80.19610841071429
40.41962254642857,-79.8507862
40.37315943928572,-74.51987565
39.35657744285715,-84.4973694142857
36.198726400000005,-86.58786063571434
35.845621299999976,-86.39027000000002
33.57786310000002,-101.8551665
32.72532479999998,-114.62439700000003
25.8456722642857,-80.31889059642857
-33.86063042857143,151.20477592857145
61.21805560000002,-149.90027779999994
46.8768199222222,-96.78729437777777
45.5223169,-122.41102696296299
43.451575814814795,-80.49993848148145
42.726130900000015,-87.78285230000002
41.5311774888889,-87.49265338518522
41.35807079999999,-72.10527855555554
40.02898681111112,-76.31631728888888
37.65944994444445,-77.51334097407405
36.09985959999998,-80.24421600000004
36.05727738888887,-94.16586065555559
31.230393000000017,121.473704
-33.425740640740756,-70.57073985925923
47.658780199999995,-117.42604660000005
42.129224099999995,-80.085059
41.99812282307691,-91.66978686923075
41.20332159999999,-77.19452470000004
40.69404409230769,-89.59083475384617
40.28623573846154,-111.68892062307694
40.12107735384614,-75.49086327307693
39.694523788461545,-75.75215749230769
37.213611323076925,-93.29664310384621
33.207822111538476,-97.12518336538467
32.93987711153847,-96.59048371153845
29.619539792307698,-95.63197613846152
18.433950507692316,-66.11070032692308
-7.790179030769232,110.36663958846158
-34.611995957692294,-58.37186535769232
43.07414914399998,-70.772261672
42.08731462399998,-88.28416888400001
42.062429216,-71.19800674799998
41.712166196000005,-71.43339008399998
41.605020956000004,-87.90389908399999
40.62945249999997,-75.49198333999996
40.29073540400002,-75.132053236
34.61002429999999,-112.31572099999995
30.282790376,-81.39532133599997
45.525410799999996,-122.97612223333336
44.024706199999976,-88.54261360000004
41.589843116666664,-83.67160278333337
41.38058658333333,-81.44969834166669
40.64738827083334,-74.602102525
39.755542999999996,-105.22109970000002
38.780919291666656,-90.53477922500002
37.975339020833324,-121.73731516250002
36.59689935000002,-121.8927997791667
30.008066829166676,-95.23665046249995
28.664152187499997,-81.19046940416668
45.40863436956521,-122.63070896086955
43.55211606086955,-79.6279655043478
43.190097682608695,-70.8673582173913
41.68137813913043,-91.57016263043478
41.169186560869576,-81.40734466956523
41.00527,28.97696
40.42068759130438,-86.8895384652174
39.587222200000014,-78.84249999999999
39.372212099999985,-104.85609019999997
39.34609773043479,-76.4911708608696
38.72894057391305,-75.08960126956521
38.59669773478262,-122.85768683478257
32.05950187826087,34.78865671304347
-37.809054056521745,144.9666813869565
47.03896737272728,-122.90472724545454
44.50789623636362,-88.02764150454543
44.02163059999999,-92.46989920000004
43.7844397,-88.78786779999997
43.2072670181818,-88.11732609090912
43.13736935909092,-77.45119461363637
41.36386271818182,-81.58700702272724
39.74338983636364,-74.96350501363636
37.637089672727285,-120.99509781818186
36.998921759090884,-76.3916683090909
35.60059031363635,-82.55043594090908
35.40875170000001,-80.57951099999997
34.42355656363637,-119.84582048181814
34.2694474,-118.78148200000001
33.82829486818181,-84.62414716363635
25.673210999999995,-100.30920100000002
42.819780790476194,-73.93786926666668
42.36871233809522,-87.88839364761905
39.64176804761906,-106.56254373333338
37.68187450000001,-121.76800880000002
36.67773720000001,-121.65550130000003
35.22199709999999,-101.83129690000004
34.54002419999998,-112.46850249999996
34.48390100000002,-114.3224548
33.82066686190475,-116.53005381428572
32.87950220000001,-111.75735209999998
-6.1839662238095245,106.62444716666666
44.94289749999999,-123.03509630000003
42.63824705999998,-71.37905408499998
42.284991915,-89.08395360499996
41.66191050000001,-83.54837847999998
40.63109401999999,-89.40460155999997
39.670073315,-84.12874245000002
38.545003715000014,-121.73819720499998
35.28275240000001,-120.65961560000002
34.9530337,-120.43571909999996
34.2073196,-84.14019260000002
53.342887326315804,-6.269302921052634
42.183299531578946,-88.12487344736839
41.447730673684205,-74.02841287894735
41.37284354210527,-71.95487932631576
41.33769753157895,-81.84286900526317
40.85669462105265,-74.61142752105263
38.408799300000005,-121.3716178
38.018268915789484,-121.85146308421051
37.43157340000001,-78.65689419999997
35.6528323,-97.47809540000002
34.8697395,-111.76098959999995
33.70758057368422,-116.23712694210526
32.216316,-80.752608
29.938271747368415,-93.92072047368418
26.20268920526315,-98.23160340000003
26.142035799999984,-81.79481029999995
22.396428000000007,114.10949699999996
48.433061200000004,-123.36190453333327
47.605796816666675,-122.66980361666664
42.351674272222226,-72.57957465000001
41.878002499999994,-93.09770200000001
41.19053066666666,-111.99542030555557
40.646062199999996,-111.49797289999998
40.417455494444454,-3.700910200000001
40.3878639499131,-75.95144173201413
38.456545844444456,-122.41896017777779

![Clusters Distribution Map](map.png)

Как мы помним, 20 баннеров надо разместить близ офисов компании. Найдем на Google Maps по запросу Carnival Cruise Line адреса всех офисов:

33.751277, -118.188740 (Los Angeles)

25.867736, -80.324116 (Miami)

51.503016, -0.075479 (London)

52.378894, 4.885084 (Amsterdam)

39.366487, 117.036146 (Beijing)

-33.868457, 151.205134 (Sydney)

In [11]:
carnival_offices = [[33.751277, -118.188740],
                    [25.867736, -80.324116],
                    [51.503016, -0.075479],
                    [52.378894, 4.885084],
                    [39.366487, 117.036146],
                    [-33.868457, 151.205134 ]
                   ]

Осталось определить 20 ближайших к ним центров кластеров. Т.е. посчитать дистанцию до ближайшего офиса для каждой точки и выбрать 20 с наименьшим значением.

Примечание: при подсчете расстояний и в кластеризации можно пренебречь тем, что Земля круглая, так как в точках, расположенных близко друг к другу погрешность мала, а в остальных точках значение достаточно велико.

Для сдачи задания выберите из получившихся 20 центров тот, который наименее удален от ближайшего к нему офиса. Ответ в этом задании — широта и долгота этого центра, записанные через пробел.

In [12]:
def euclidian_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat1 - lat2) ** 2 + (lon1 - lon2) ** 2)

def calculate_min_distance(lat, lon):
    min_distance = None
    for coords in carnival_offices:
        curr_dist = euclidian_distance(lat, lon, coords[0], coords[1])
        if (min_distance is None) or (curr_dist < min_distance):
            min_distance = curr_dist
    
    return min_distance

In [13]:
clusters['min_distance'] = clusters.apply(lambda row: calculate_min_distance(row['cluster_latitude'], row['cluster_longitude']), axis=1)
clusters.head()

   cluster_latitude  cluster_longitude  count  min_distance
0         40.717716         -73.991835  12506     16.143720
1         33.449438        -112.002140   4692      6.193959
2         33.446380        -111.901888   3994      6.294241
3         41.878244         -87.629843   3363     17.598580
4         37.688682        -122.409330   3526      5.772048

In [14]:
clusters = clusters.sort_values('min_distance')
clusters.head(20)

     cluster_latitude  cluster_longitude  count  min_distance
420        -33.860630         151.204776     28      0.007835
370         52.372964           4.892317     31      0.009353
419         25.845672         -80.318891     28      0.022674
58          51.502991          -0.125537    254      0.050058
51          33.809878        -118.148924    281      0.070848
29          25.785812         -80.217938    564      0.134109
167         25.705350         -80.283429     80      0.167406
92          26.010098         -80.199991    138      0.188876
87          33.888325        -118.048928    100      0.195779
42          33.872986        -118.362091    384      0.211811
291         33.972575        -118.168371     37      0.222233
320         26.138844         -80.334347     38      0.271301
119         33.983936        -118.007405     74      0.294979
55          26.120863         -80.158907    246      0.302270
27          33.817306        -117.891249    577      0.304731
11          34.060398        -118.248709   1081      0.314884
32          33.674303        -117.858789    449      0.338810
159         26.200585         -80.250716     42      0.340846
17          34.035487        -118.438998    645      0.378688
47          34.131460        -118.118012    273      0.386706

In [15]:
def write_answer(lat, lon):
    with open('submission_MeanShift_1.txt', 'w') as fout:
        fout.write(f'{lat} {lon}')
        fout.close()

# Nearest cluster is (-33.860630, 151.204776) adjacent to -33.868457, 151.205134 (Sydney Office)

nearest_cluster = clusters[clusters['min_distance'] == clusters['min_distance'].min()].values[0]
print(nearest_cluster)

write_answer(nearest_cluster[0], nearest_cluster[1])

[-3.38606304e+01  1.51204776e+02  2.80000000e+01  7.83475816e-03]